#cursor{
position: absolute;
width: 0px;
height: 10px;
border:0px solid #000;
box-sizing:border-box;
transition:0s;
transform:translate(-50%,-50%);
border-radius: -50% ;
pointer-events: none;
-webkit-box-shadow: 0px 0px 5px 20px rgba(125,16,71,1);
-moz-box-shadow: 0px 0px 5px 20px rgba(125,16,71,1);
box-shadow: 0px 0px 5px 20px rgba(125,16,71,1);



}


ul{

    width: 100%;
    display: flex;
    justify-content: space-between;
 
}



input{
    position: fixed;
    width: 35%;
    height: 20%;
    margin:5% 5% 5% 0%;
    border-radius: 15px 12px 5px 80px;
    opacity: 0.6;
    transition: 1s;
    font-size:x-large;
    font-style: italic;
    font-weight: lighter;
    padding: 1%;

}

input:hover {
    background-color: white;
    transition: 2s;
    width: 50%;
    opacity: 1;
    border-radius: 55px 0px 55px 0px;
    margin: 0 0 0 25%;
    font-weight: bolder;
    font-size:x-large;
    margin: 3%;

  }

  #searchClick{

    margin:  1% 0 0 40%;
    width: 10%;
    height: 100PX;

  }

  .invisible{

    opacity: 1;
  }




  
  button{

    transition: 5s;
  }


  button:hover {
    margin: 35%;
    transition: 4s;
    width: 30%;
    opacity: 1;
    border-radius: 55px 55px 55px 55px;
    margin: 0 0 0 25%;
    font-weight: bolder;
    font-size:x-large;
    background-color: white;

  }

  #actionBttn{

    transition: 3s; 
    margin: 5%; 
    height: 150px;
    background-color:deeppink;
    border: magenta;
  }


  .divButton
  {
    margin-left: 10%;
    width:70%;
    background-color:deeppink;

  }


  .dropdown-menu
{

    margin-left: 10%;
    margin-bottom: 5%;
    width:400px;
    background-color:deeppink;
}
.dropdown-menu.show{

  width:400px;
  transition: 2s;

}




  a {

    background-color:deeppink;
    border: magenta;
    margin: 15%;
    width: 100px;

  }

  .dropdown-menu.show {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 -70% 25%;
    width: 50%;
  
    
}